<?xml version="1.0" encoding="utf-8"?>
<Package
      xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
      xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
      xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
      IgnorableNamespaces="uap mp">
  <Identity Name="PhotoDocu" Publisher="CN=RiskyDev" Version="1.0.0.43" />

      <mp:PhoneIdentity PhoneProductId="906fe313-332d-46ac-8bd7-99f70e2cec7e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>PhotoDocu</DisplayName>
    <PublisherDisplayName>RiskyPathak</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
      </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tablet_App.App">
      <uap:VisualElements DisplayName="PhotoDocu" Square150x150Logo="Assets\Logo.png" 
                          Square44x44Logo="Assets\SmallLogo.png" 
                          Description="PhotoDocu"  BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="enterpriseAuthentication" />
    <uap:Capability Name="musicLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="sharedUserCertificates" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>
