body {
    font-family: Verdana !important;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.redfont {
    border-spacing: 0px;
    color: red;
}

table {
}

h1, h2, h3 {
    display: inline-block;
    color: darkblue;
}

td, p, h4 {
    font-size: 10px !important;
}

.tablecontent {
    text-align: left;
}

.wbfooter {
    background-color: #C00;
    color: #FFF;
    border: none;
    height: 10px;
}

.imgProject {
    height: 132px;
    vertical-align: top;
    text-align: left;
}

.trHeader td {
    height: 30px;
}

.trFooter td {
    height: 10px;
}

.trActionName {
    height: 60px;
    word-break: break-all;
    text-overflow: clip;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.trActionTool {
    height: 75px;
    word-break: break-all;
    text-overflow: clip;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.trAnalysis {
    height: 125px;
    word-break: break-all;
    text-overflow: clip;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.noborder {
    border: none;
}
